/* body{
    background-image: url("/home/shanawaj/Downloads/backgroud.jpeg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    
} */

/* #gradient-style{
    height: 400px;
    width: 100%;
    background-image: linear-gradient(to right,red green);
} */

/* #section1{
    float: left;
    background-color: green;
}
#section2{
    float: right;
    background-color: red;
}

#section3{
    background-color: pink;
}
#clearDiv{
    clear: both;
} */




